html{

}

body{
    font-size: 16px;
}

h1{

}

.main-header{
    font-size: 1rem;
}

.main-nav{
    border:1px solid salmon;
    background-color: slateblue;
}

.main-header ul li{
    border: 1px solid yellow;
    list-style: none;
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

.main-header ul li:hover{
    background-color: yellow;
    color: #000;
}

.main-header a{
    color: white;
    text-decoration: none;
}

.main-header a:hover{
    color: #000;
}