body {
    background-color: orange; 
    color: white; 
    text-align: center;
}

.container{
    width: 300px;
    margin: 10px auto;
    border: 1px solid black;
    overflow: auto;
    margin-bottom: 20px;

}

.thumb{
    width: 100px;
    float: left;
    box-sizing: border-box;
}

.thumb:hover{
    opacity: 0.5;
    cursor: pointer;
}

/* meanambahkan effect animasi */
@keyframes fadeIn {
    to{
        opacity: 1;
    }
}
.fade {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.active{
    opacity: 0.5;
}