{% extends 'layout.html' %}
{% block title %} Index {% endblock %}

{% block content %}

<h3>{{ title }}</h3>
        <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/404">Eror</a></li>
        </ul>
        <table border="1" style="width:800px; border-collapse:collapse">
            <thead>
                <tr>
                    <th>Nim</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>Jurusan</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <td>{{ d.nim }}</td>
                    <td>{{ d.nama }}</td>
                    <td>{{ d.alamat }}</td>
                    <td>{{ d.prodi }}</td>
                    <td><a href="/update/{{ d.nim }}">Ubah</a>||
                    <a href="/delete/{{ d.nim }}" onclick="return confirm('Anda Yahin ?')">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>
        <a href="/insert">Tambah Data</a>
{% endblock %}